body{
  background: linear-gradient(to right, #259cb1, #16bd9c);
}

.logo{
  margin: 3em 0px 0px 0px;
  width: 80%;
}

.space{
  margin-top: 1em;
}

.logo-afiliados{
  filter: invert(1);
  width: 70%;
  margin: 30em 5em 5em 5em;
}

.actions{
  position: fixed;
  left: 50%;
  bottom: 10%;
  transform: translate(-50%, -10%);
}

.actions button{
  margin: 0 10px 0 10px;
  font-size: 8em;
  width: 250px;
  height: 250px;
  border-radius: 50%;
  border: none;
  color: #fff;
}

#start-button{
  background: linear-gradient(to bottom, #0858cf, #074652);
}

#stop-button{
  background: linear-gradient(to bottom, #ee3a1a, #9e1d0c);
}

#send-button{
  background: linear-gradient(to bottom, #08cf54, #10861a);
}

#config-button{
  display: none;
  background: linear-gradient(to bottom, #555756, #3e3f3e);
}

.confirm-content{
  padding: 3em; 
  font-size: 3em;
  text-align: center;
}

.config-content{
  padding: 2em; 
  font-size: 3em;
  text-align: center;
}

select{
  border-radius: 20px;
  padding: 10px;
}

.btn-close{
  font-size: 3em;
}

.form-switch{
  display: flex !important;
  flex-direction: row-reverse !important;
  justify-content: flex-end !important; 
  align-items: center !important;
  padding-left: 1.6em !important;
}

.form-switch .form-check-input{
  width: 4em !important;
  height: 2em !important;
  background-color: #999;
}

.form-switch .form-check-label{
  margin-right: 3em !important;
}

.form-check-input:checked{
  background-color: #0d6efd !important;
}

.modal-actions button{
  font-size: 3em;
  padding: 0.7em;
  width: 100%;
}

.modal-content{
  width: 900px !important;
  top: 400px !important;
  left: -40% !important;
}

#toast-success{
  font-size: 4em;
}

.toast-button{
  font-size: 1em !important;
}

#cam-list{
  max-width: 300px;
}

#cam-qr-result{
  font-size: 10em;
  cursor: pointer;
  color: #fff;
  display: none;
}

#qr-video{
  border-radius: 40px;
  padding: 1em;
  position: fixed;
  top: 15%;
  left: 12%;
}

#video-container {
  line-height: 0;
  border-radius: 30px;
  margin: 4em 0 0 0;
}

#video-container.example-style-1 .scan-region-highlight-svg,
#video-container.example-style-1 .code-outline-highlight {
  stroke: #64a2f3 !important;
}

#video-container.example-style-2 {
  position: relative;
  width: max-content;
  height: max-content;
  overflow: hidden;
}

#video-container.example-style-2 .scan-region-highlight {
  border-radius: 30px;
  outline: rgba(0, 0, 0, .25) solid 50vmax;
}

#video-container.example-style-2 .scan-region-highlight-svg {
  display: none;
}

#video-container.example-style-2 .code-outline-highlight {
  stroke: rgba(255, 255, 255, .5) !important;
  stroke-width: 15 !important;
  stroke-dasharray: none !important;
}

#flash-toggle, #cam-has-flash, #show-scan-region, .region-label{
  display: none;
}

hr {
  margin-top: 32px;
}

input[type="file"] {
  display: block;
  margin-bottom: 16px;
}

/* mobile */
@media only screen and (min-device-width: 480px){
  .logo{
    width: 80%;
  }

  .logo-afiliados{
    margin: 10em;
  }

}

/* ipad */
@media only screen and (min-device-width: 768px){
  .logo{
    width: 80%;
  }

  .logo-afiliados{
    margin: 10em;
    width: 30%;
  }

  .actions button{
    width: 150px;
    height: 150px;
    font-size: 4.25em;
  }

  .actions #start-button i, .actions #stop-button i, .actions #config-button i, .actions #send-button i{
    margin-left: -0.4em;
  }
}

/* desktop */
@media only screen and (min-width: 992px){
  .logo{
    width: 30%;
  }

  .logo-afiliados{
    margin: 10em;
    width: 20%;
  }

  .actions button{
    width: 130px;
    height: 130px;
    font-size: 4em;
  }

  .actions #start-button i, .actions #stop-button i, .actions #config-button i, .actions #send-button i{
    margin-left: 0;
  }
}