body{
  background: linear-gradient(to right, #31b2c9, #16bd9c);
}

.logo{
  margin: 1em 0px;
  max-width: 100%;
}

.space{
  margin-top: 1em;
}

.container{
  
}

.actions{
  margin-top: 15%;
  display: flex;
  justify-content: center;
  font-size: 8em;
}

#start-button{
  width: 250px;
  height: 250px;
  border-radius: 50%;
  border: none;
  color: #fff;
  background: linear-gradient(to bottom, #0858cf, #074652);
}

#stop-button{
  width: 250px;
  height: 250px;
  border-radius: 50%;
  border: none;
  color: #fff;
  background: linear-gradient(to bottom, #ee3a1a, #9e1d0c);
}

#send-button{
  width: 250px;
  height: 250px;
  border-radius: 50%;
  border: none;
  color: #fff;
  background: linear-gradient(to bottom, #08cf54, #10861a);
}

#cam-qr-result{
  font-size: 10em;
  cursor: pointer;
}

#video-container {
  line-height: 0;
  border-radius: 30px;
  margin: 4em 0 0 0;
}

#video-container.example-style-1 .scan-region-highlight-svg,
#video-container.example-style-1 .code-outline-highlight {
  stroke: #64a2f3 !important;
}

#video-container.example-style-2 {
  position: relative;
  width: max-content;
  height: max-content;
  overflow: hidden;
}

#video-container.example-style-2 .scan-region-highlight {
  border-radius: 30px;
  outline: rgba(0, 0, 0, .25) solid 50vmax;
}

#video-container.example-style-2 .scan-region-highlight-svg {
  display: none;
}

#video-container.example-style-2 .code-outline-highlight {
  stroke: rgba(255, 255, 255, .5) !important;
  stroke-width: 15 !important;
  stroke-dasharray: none !important;
}

#flash-toggle, #cam-list, #cam-box, #inversion-box, #style-box {
  display: none;
}

hr {
  margin-top: 32px;
}

input[type="file"] {
  display: block;
  margin-bottom: 16px;
}